.clear
{
	clear:both;
}
.form
{
	padding-top:150px;
	
}

.heading {
    border-bottom: 2px solid #66CCCC;
    padding-bottom: 15px;
    margin-bottom: 30px;
}
.msg
{
	margin: 50px 0 0;
    color: green;
    font-size: 20px;
    font-weight: bold;
}
.form label
{
	color:#81E9B5;
}
.form1
{
	padding-top:150px;
}

.form1 label
{
	color:#fff;
}
.form2
{
	padding:205px 0;!Important
	
}
.form2 label
{
	color:#fff;
}
.back
{
	background:url(../images/laptop.jpg) no-repeat;
	background-size:cover;
}
.bing
{
	background:url(../images/best.jpg) center no-repeat;
	background-size:cover;
}
.back1
{
	background:url(../images/star.jpg) center no-repeat fixed;
	background-size:cover;
	padding:120px 0;
}
.back2
{
	background:url(../images/buy.jpg) center no-repeat fixed;
	background-size:cover;
	padding:120px 0;
}
.bill
{
	background-color:#101010 !important;
}
.a
{
	background-color:rgba(0,0,0,0.5);
	margin:0 auto;
	padding:40px;	
}
.a h1
{
	font-family:Times New Roman;
	color:#81E9B5;
	font-style:oblique;
}
.ab
{
	padding-top:40px;
	width:30%;
	text-align:justify;
	padding-left:20px;
}
.blow
{
	font-family:Arial !important;
	font-size:20px;
	width:50% !important;
}

	