<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  

    <!-- BootStrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        
    <link href="static/styles.css" rel="stylesheet">
    <title>PHISHING WEBSITE DETECTION</title>
    
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700italic,700,900&amp;subset=latin,latin-ext">
                <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=PT+Serif:700italic,700,400italic&amp;subset=latin,cyrillic-ext,latin-ext,cyrillic">
                
                <link rel="stylesheet" type="text/css" href="/static/style/jquery.qtip.css'%}"/>
                <link rel="stylesheet" type="text/css" href="/static/style/jquery-ui.min.css"/>
                <link rel="stylesheet" type="text/css" href="/static/style/superfish.css"/>
                <link rel="stylesheet" type="text/css" href="/static/style/flexnav.css"/>
                <link rel="stylesheet" type="text/css" href="/static/style/DateTimePicker.min.css"/>
                <link rel="stylesheet" type="text/css" href="/static/style/fancybox/jquery.fancybox.css"/> 
                <link rel="stylesheet" type="text/css" href="/static/style/fancybox/helpers/jquery.fancybox-buttons.css"/>
                <link rel="stylesheet" type="text/css" href="/static/style/revolution/layers.css"/> 
                <link rel="stylesheet" type="text/css" href="/static/style/revolution/settings.css"/> 
                <link rel="stylesheet" type="text/css" href="/static/style/revolution/navigation.css"/> 
                <link rel="stylesheet" type="text/css" href="/static/style/base.css"/> 
                <link rel="stylesheet" type="text/css" href="/static/style/responsive.css"/> 
                <link rel="stylesheet" type="text/css" href="/static/styles.css"/> 
                <script type="text/javascript" src="/static/script/jquery.min.js"></script>

</head>
<body style="background: url(/static/media/image/slider/2.jpg);">
<div class="template-header">

                    <!-- Top header -->
                    <div class="template-header-top">

                        <!-- Logo -->
                        <div class="template-header-top-logo">
                            <a href="" title="">
                                <h2 style="color: #FFF;padding-top: 30px;font-size: 20px;">
                PHISHING WEBSITE DETECTION</h2>
                            </a>
                        </div>

                        <!-- Menu-->
                        <div class="template-header-top-menu template-main">
                            <nav style="float:right;">
                            
                                <!-- Default menu-->
                                <div class="template-component-menu-default">
                                    <ul class="sf-menu">
                                    
                                          <li><a href="/home" >Home</a></li>
                                    <li><a href="/detect/">Detect Website</a></li>
                                        <li><a href="/">Logout</a></li>
                                        
                                    </ul>
                                </div>
                                
                            </nav>
    
<div class=" container" style="background:#FFF;padding: 20px;margin-top: 200px;">
    <h3>Enter Website URL</h3>
    <div class="row" style="width:100% !important;margin-top:50px;">

        <div class="form col-md-6" id="form1" style="width:100% !important;">
            
            <form action="/detect/" method ="post">
                <input type="text" class="form-control" name ='url' id="url" placeholder="Enter URL" required="" style="border: 1px solid #000;height:60px" /><br>
                <button class="btn btn-success" role="button" style="background:green;">DETECT THE PISHING WEBSITE</button>
            </form>
           
    </div>
    
    <div class="col-md-6" id="form2">
        
        <br>
        <h6 class = "right "><a href= {{ url }} target="_blank">{{ url }}</a></h6>
           
    
        <h3 id="prediction" style="color:green;"></h3><br>
        <button class="button2" id="button2" role="button" onclick="window.open('{{url}}')" target="_blank" style="display: none;">Still want to Continue</button>
        <button class="button1" id="button1" role="button"  onclick="window.open('{{url}}')" target="_blank" style="display: none;">Continue</button>
    </div> 
</div>
<br>

</div>

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

    
    <script>
        
            let x = '{{xx}}';
            let num = x*100;
            if (0<=x && x<0.50){
                num = 100-num;
            }
            let txtx = num.toString();
            if(x<=1 && x>=0.50){
                var label = "Website is "+txtx +"% safe to use...";
                document.getElementById("prediction").innerHTML = label;
                document.getElementById("button1").style.display="block";
            }
            else if (0<=x && x<0.50){
                var label = "Website is "+txtx +"% unsafe to use..."
                document.getElementById("prediction").innerHTML = label ;
                document.getElementById("button2").style.display="block";
            }
        
    </script>
    
</body>

</html>

